body, html {
  height: 100%; /* Note that the height of the body and html is declared in %. In order to use % with .bgimg-1 (see below), we have to declare 100% height on the body and html tags.  */
  margin: 0;
  font: 15px "Lato", sans-serif;
  color: #777;
}

      .mainNav {
        background-color: black;
        position: fixed; /*this makes it stay where you want it*/
        top: 0;
        width: 100%;
        z-index: 100; /*z-index + large number guarentees the element will be on top of all other elements*/
        text-align: center;
        list-style: none;
      }

      .mainNav a {
        color: white;
        padding: 0px 20px;
        text-decoration: none;
        font-family: Gourmet Hearth;
        font-size: 12px;
        letter-spacing: 3px;
        display: inline-block;
      }

      .mainNav a:hover {
        color: #fff78f;
      }

      .mainNav .icon {
        display: none;
      }

      @media screen and (max-width: 600px){
        .mainNav a{display: none;}
        .mainNav a.icon {
          float: right;
          display: block;
        }
      }

      @media screen and (max-width: 600px){
        .mainNav.responsive {position: relative;}
        .mainNav.responsive .icon {
          position: absolute;
          top: 0;
          right: 0;
        }

        .mainNav.responsive a {
          float: none;
          display: block;
          text-align: center;
        }

      }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /*opacity: 0.65; /* This is just for style. Feel free to delete. */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* 3. This is where the magic happens. To trigger the parallax effect, you need to add the attribute "background-attachment" along with the appropriate value. Use w3schools. HINT HINT. */
}

@media only screen and (max-width: 600px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
	}
}
/* 4. Parallax isn't very compatible on mobile devices so you will want to add a media query that changes the value of the background attachment when the width of your browser goes below a certain number. */

.bgimg-1 {
  background-image: url("../imgs/image_1.jpg");
  min-height: 100%;
  background-color: blue;
  vertical-align: middle;
  /*width: 100%;*/
}

.logo1 {
width: 50%;
top: 25%;
display: block;
position: absolute;
/*z-index: 10;*/
}

.no_logo {
background-color: ;
width: 100%;
display: block;
position: relative;
/*z-index: 10;*/
left: 50%;
/*top: 50%;*/
/*right: 50%;*/
margin: 0 0 0;
}

.about_image {
  position: relative;
  float: left;
  padding: 10px;
  float:left;
  width: 45%
}

.about_paragraph {
  width: 50%;
  display: inline-block;
  position: relative;
  padding: 5px;
}

.bgimg-2 {
  background-image: url("../imgs/image_1.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("imgs/image_3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

/*span.logo1 {
  vertical-align: middle;
  margin-top: 50%;
  position: relative;
  background-size: 100%;
}*/

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
</style>